<nav class="navbar ight" id="al">
  <div class="container-fluid">
    
  </div>

  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src="https://www.carlogos.org/logo/Tata-Group-logo-3840x2160.png " alt="Logo" width="100" height="50" class="d-inline-block align-text-top">
    </a>
    <a class="navbar-brand" href="#">HOME</a>
    <a class="navbar-brand"  href="#">ABOUT</a>
    <a class="navbar-brand"  href="#">GALLERY</a>
    <a class="navbar-brand"  href="#">CONTACT</a>

    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

    
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://imgd.aeplcdn.com/0x0/n/cw/ec/42611/tata-nexon-ev-right-front-three-quarter6.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/41160/tigor-exterior-right-front-three-quarter-3.png?isig=0&q=75&wm=1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/32958/tata-harrier-right-front-three-quarter58.jpeg?q=75&wm=1" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<iframe style="margin-left: 30%;" width="560" height="315" src="https://www.youtube.com/embed/sX59j8nu1Ag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>